
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="text-center text-xl-left text-muted">
              <a target="_blank" 
                 href="" 
                 class="font-weight-bold ml-1">Teste Software Engineer - FRANQ openbank</a>
            </div>
          </div>
        </div>
      </footer>
