
    <footer class="py-5">
      <div class="container">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
                <a href="" 
                   class="font-weight-bold ml-1" target="_blank">Teste Software Engineer - FRANQ openbank</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
