{% extends 'layouts/base.html' %}

{% block title %} Usuários {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">


      <!-- Table -->
      <div class="row">
        <div class="col">
          <form method="get" class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
            <div class="form-group mb-0">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                        <input class="form-control" placeholder="Procurar usuário" type="text" name="search_query">
                </div>
            </div>
          </form>
          <br>
          <div class="card shadow">
           <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Usuários</h3>
                </div>
                <div class="col-4 text-right">
                  <a href={% url 'criar-usuario' %} class="btn btn-sm btn-primary">Cadastrar usuário</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">E-mail</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>

                  {% for pessoa in pessoas %}
                  {% if request.user == pessoa.user %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">

                        <div class="media-body">
                          <span class="mb-0 text-sm">{{ pessoa.nome }}</span>
                        </div>
                      </div>
                    </th>

                     <td>
                      {{ pessoa.telefone }}
                    </td>

                     <td>
                      {{ pessoa.email }}
                    </td>
                   
                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="{% url 'editar-usuario' pessoa.id %}">Editar</a>
                          <a class="dropdown-item" href="{% url 'deletar-usuario' pessoa.id %}">Remover</a>
                        </div>
                      </div>
                    </td>

                  {% endif %}
                  {% endfor %}

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>


      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
