{% extends 'layouts/base.html' %}

{% block title %} Minha garagem {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">


      <!-- Table -->
      <div class="row">
        <div class="col">
          <form method="get" class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
            <div class="form-group mb-0">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                        <input class="form-control" placeholder="Procurar veículo" type="text" name="search_query">
                </div>
            </div>
          </form>
          <br>
          <div class="card shadow">
           <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Veículos</h3>
                </div>
                  <div class="col-4 text-right">
                    <div>
                      <a href="{% url 'criar-veiculo' %}" class="btn btn-sm btn-primary">Cadastrar veículo</a>
                    </div>
                  </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Tipo de veículo</th>
                    <th scope="col">Cor/Modelo</th>
                    <th scope="col">Ano</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Telefone</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>

                  {% for veiculo in veiculos %}
                  {% if request.user == veiculo.proprietario.user %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">

                          {% if veiculo.tipo == 'carro' %}

                          <img alt="Image placeholder" src="/static/assets/img/theme/carro.png">

                          {% else %}

                          <img alt="Image placeholder" src="/static/assets/img/theme/moto.png">

                          {% endif %}

                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{ veiculo.tipo|capfirst  }}</span>
                        </div>
                      </div>
                    </th>
                    <td>

                      {% if veiculo.tipo == 'carro' %}

                        {{ veiculo.cor }}

                      {% else %}

                        {{ veiculo.modelo }}

                      {% endif %}
                    </td>
                    
                    <td>
                      <span class="badge badge-dot mr-4">
                      {{ veiculo.ano }}
                      </span>
                    </td>

                     <td>
                      {{ veiculo.proprietario.email }}
                    </td>

                     <td>
                      {{ veiculo.proprietario.telefone }}
                    </td>
                   
                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="{% url 'editar-veiculo' veiculo.id %}">Editar</a>
                          <a class="dropdown-item" href="{% url 'deletar-veiculo' veiculo.id %}">Remover</a>
                        </div>
                      </div>
                    </td>
                  {% endif %}
                  {% endfor %}

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>


      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
